
body{

background-color: #777;
color: #777;

margin-left: 100px;
margin-right: 100px;

}



*{
  box-sizing: border-box;
}


div#article p {
	color: yellow;
	clear: both;
}

#header{
 	position: relative;
  	height: 75px;
  	padding: 20px;
  	margin-bottom: 5px;
  	text-align: center;
  	background: #eee;
}

#nav{
	position: static;
  	height: 75px;
  	padding: 20px;
  	margin-bottom: 20px;
  	text-align: center;
  	background: #eee;

}

#aside{
	position: static;
  	height: 250px;
  	padding: 20px;
  	margin-bottom: 20px;
  	text-align: center;
  	background: #eee;
	width:38%;	
	float: right;
}

#section{
	position: static;
  	height: 250px;
  	padding: 20px;
  	margin-bottom: 20px;
  	text-align: center;
  	background: #eee;
	width:60%;	
	float: left;
}

#article{
	clear:both;
	position: absolute;
  	height: 100px;
  	/*padding: 20px;*/
  	margin-bottom: 10px;
  	text-align: center;
  	background: #777;
	width:30%;	
	float: left;
	/*overflow: auto;*/
    margin-left: 75px;
    margin-top: 20px;
    color: white;
	
}

#h1{

	clear: both;
    position: absolute;
    padding: 5px 0px 0px 20px;
    text-align: center;
    background: white;
    /*width: 20%;*/
    float: left;
    margin: 20px 0px 20px 50px;
    overflow: hide;
    color: black;
}

#p{


	clear: both;
    position: absolute;
    padding: 5px 0px 0px 40px;
    text-align: center;
    background: white;
    /*width: 20%;*/
    float: left;
    margin: 50px 0px 0px 50px;
    overflow: hide;
    color: black;
}

#footer{
	
	clear:both;
	position: relative;
  	height: 75px;
  	padding: 20px;
  	margin-bottom: 5px;
  	text-align: center;
  	background: #eee;


}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



















}